*{
    padding: 0px;
    margin: 0px;
}
:root{
    --width-input:500px;

}
body{
   

}
main{
     display: flex;
  justify-content: center;
  align-items: center;
  /*width: 100vw;*/ 
  height: 100vh;
  text-align: justify;

}
section{
    display: flex;
    justify-content: center;
    width: 480px; 
  height: 350px;
  background-color:gray;
  align-items: center;    
  border-radius: 9px;
  box-shadow: 1px 1px 5px 2px ;
  
    
}
label{
    font-size: 20px;
    font-weight: 800;
}
.caixa{
    display: flex;
    
    padding: 3px;
       
    font-size: larger;
}
input{
    height: 25px;

}
#email{
    width: var(--width-input);
}
#nome{
    width: var(--width-input);
}
#data{
    margin-left: 20px;
}
#estado{
    display: flex;
    float: right;
    width: var(--width-input);

}
#enviar{
    display: flex;
    margin-left:400px;
    height: 40px;
    width: 70px;
}
