*{
    padding: 0px;
    margin: 0px;
}
body{
    

}
    header{
        background-image: linear-gradient(to top, #321869,#DC3AE0 100%);

    }
	nav{
		background-color: var(--cor5);
    padding: 10px;
    
	}
	section{
        
	}
	h1{
		
        text-align: center;
	}
	section > p{
		padding: 20px;
		align-items: start;
		text-align: center;
	}
	 article > h3{
        text-align: center;
	}
     
   
    
	div{
	display: flex;
    align-items: center;
    justify-content: center;
    
  

    
	}
    main{
        margin:0px 30px;
        box-shadow: black 0px 10px 17px 1px;
        border-radius: 0px 0px 10px 10px;
        background-color: rgb(211, 211, 211);
    }
   
    