
    body {
      font-family:Garamond;
      background-color:	#F0FFFF;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
    }

    .form{
      background:	#F0FFFF;
      padding: 20px 25px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0,0,0,0);
      width: 500px;
      text-align: center;
    }

    label {
      display: block;
      margin-top: 15px;
      font-weight: bold;
      color: #2F4F4F;
    }

    input, select, button {
      width: 100%;
      padding: 10px;
      margin-top: 10px;
      border: 0.5px solid #778899;
      border-radius: 15px;
      font-size: 15px;
      box-sizing: border-box;
    }

    input[type="radio"],
    input[type="checkbox"] {
      width: auto;
      margin-right: 10px;
    }

    .opcoes,
    .new {
      margin-top: 10px;
    }

    button {
      background-color: #2F4F4F	;
      color: white;
      border: none;
      font-weight: bold;
      cursor: pointer;
      transition: background 0.5s;
      margin-top: 25px;
    }

    button:hover {
      background-color:#008080;
    }

textarea{
        border-radius: 15px;
}